DISCORD_TOKEN=replace-me
DISCORD_GUILD_ID=1518101705538011136
DISCORD_CLIENT_ID=1518108545697058997
MOVIES_CHANNEL_ID=1518101821418246315
SHOWS_CHANNEL_ID=1518101972274774087
MOVIE_RELEASES_CHANNEL_ID=replace-me
SHOW_RELEASES_CHANNEL_ID=replace-me

RADARR_URL=http://192.168.0.157:30025
RADARR_API_KEY=replace-me
RADARR_ROOT_FOLDER=/movies
RADARR_MINIMUM_AVAILABILITY=released
RADARR_DEFAULT_QUALITY=HD 1080p
RADARR_QUALITY_MAP=1080p:HD 1080p,720p:SD 720p,2160p:UHD 2160p

SONARR_URL=http://192.168.0.157:30113
SONARR_API_KEY=replace-me
SONARR_ROOT_FOLDER=/shows
SONARR_SERIES_TYPE=standard
SONARR_DEFAULT_QUALITY=HD 1080p
SONARR_QUALITY_MAP=1080p:HD 1080p,720p:SD 720p,2160p:UHD 2160p,animation:Animation

SEARCH_TIMEOUT_SECONDS=60
POLL_INTERVAL_SECONDS=5
RELEASE_POLL_INTERVAL_SECONDS=60

WEBHOOK_ENABLED=true
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=3456
WEBHOOK_TOKEN=replace-me
